body {
  margin: 0;
  padding: 0;
}

.logo {
  cursor: pointer;
}

.logo h1 {
  padding: 0;
  font-family: poppins, sans-serif;
  color: #2e2e2e;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  align-self: flex-start;
}

.sub-nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #f0f0f0, #faf2fa);
  box-shadow: 2px 5px 10px #bebebe, -20px -20px 60px #ffffff;
  gap: 2em;
  overflow: hidden;
}

#navigationbar:hover {
  opacity: 100%;
}

.publicity {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}

.pub {
  height: 100%;
  background-color: white;
  margin: 0.2em;
  width: 100%;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(145deg, #f0f0f0, #eaeaea);
  box-shadow: 2px 5px 10px #bebebe, -20px -20px 60px #ffffff;
  padding: 1.5em 0;
  margin: 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  gap: 1em;
}

.search {
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  justify-content: center;
  flex-direction: column;
  margin-left: 2em;
  flex: 0.4;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: poppins, sans-serif;
  font-weight: 700;
  cursor: pointer;
  align-self: center;
}

.navbar ul li:hover {
  color: black;
  scale: 101%;
}


.search-div {
  width: 90%;
  gap: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  border: none;
  border-radius: 0.5em;
  height: 3em;
  width: 100%;
  padding: 0 1.5em;
}

.search-img {
  cursor: pointer;
}

.search-img:hover {
  color: black;
  scale: 104%;
}

.sign-in {
  align-self: flex-start;
}

.sign-in-btn {
  margin-top: 0.5em;
  padding: 12px 33px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 5px 0px 0px;
  color: hsl(0, 0%, 100%);
}

.sign-in-btn:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  cursor: pointer;
}

.sign-in-btn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.nav-icon {
  scale: 70%;
  opacity: 70%;
}

.phone {
  width: 70%;
  height: 1em;
  letter-spacing: 0.3em;
  font-family: poppins, sans-serif;
  font-weight: 700;
  color: #595959;
}
