body {
  margin: 0;
  padding: 0;
}

.logo {
    background-color: black;
    display: flex;
    align-items: start;
    align-self: flex-start;
}

.logo h1 {
    padding: 0;
    background-color: red;
    font-family: poppins, sans-serif;
    color: #2e2e2e;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(145deg, #f0f0f0, #eaeaea);
  box-shadow: 2px 5px 10px #bebebe, -20px -20px 60px #ffffff;
  padding: 1.5em 0;
}

.navbar {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar ul {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  gap: 1em;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(42, 42, 42);
  font-weight: 700;
  cursor: pointer;
  align-self: center;
}

.navbar ul li:hover {
    opacity: 70%;
    scale: 102%;
}

.search-div {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-block {
    width: 80%;
    gap: 0.3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.search-input {
  border: none;
  border-radius: .5em;
  height: 3em;
  width: 100%;
}

.sign-in {
    align-self: flex-start;
}

.sign-in-btn {
  padding: 12px 33px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 5px 0px 0px;
  color: hsl(0, 0%, 100%);
}

.sign-in-btn:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  cursor: pointer;
}

.sign-in-btn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.nav-icon {
  scale: 70%;
  opacity: 70%;
}

.phone {
    width: 70%;
    height: 1.5em;
    letter-spacing: .3em;
    font-family: poppins, sans-serif;
}