body {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 1.5em 0;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 1em;
}

.navbar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(42, 42, 42);
    font-weight: 700;
}

.sign-in-btn {
  padding: 12px 33px;
  border-radius: 10px;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 15px;
  transition: all 0.3s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
}

.sign-in-btn:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  cursor: pointer;
}

.sign-in-btn:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.nav-icon {
    scale: 70%;
    opacity: 70%;
}